<!--TODO: decide what to have in the index? eg what is first thing people see when going to your site? most recent blog posts?  -->




<h1>Welcome To my site</h1>


Some more info about the site

<h2>Most recent posts </h2>

<%- list_posts() %>


<h2>Some of my work </h2>

<%- list_categories() %>


<h2>Tips Tricks and Quick Fix </h2>

<%- list_tags() %>
