<!--  Pages template 
Pages are in source folder, and are markdown files
see here for variable available in template
https://hexo.io/docs/variables.html
-->

<h1><%= _.capitalize(page.title) %> </h1>

<hr>

<%- _.capitalize(page.content) %>